<h1>Welcome to the band app!</h1>
<br>

<h2>BANDS</h2>
<h3><a href="/bands/new">Create New</a></h3>
<h3><a href="/bands">Show Bands</a></h3>

<br>

<h2>MUSICIANS</h2>
<h3><a href="/musicians/new">Create New</a></h3>
<h3><a href="/musicians">Show Musicians</a></h3>


